h1 {
  font-family: monospace;
  margin-top: 50px;
  text-align: center;
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
}
.dict {
  font-family: monospace;
  font-size: 17px;
  background-color: rgb(210, 84, 84);
}
label {
  font-size: 25px;
}
input {
  max-width: 350px;
  height: 35px;
}
main {
  max-width: 400px;
  margin: 50px auto 0px auto;
}
.btn {
  color: azure;
  background-color: rgb(233, 133, 133);
  border-color: white;
  border-radius: 2px ;
}
td {
  width: 400px;
  overflow: auto;
}

footer {
  max-width: 300px;
  margin: 70px auto 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #d4d4d4;
}
